/* *RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    width: 80%;
    margin: 0 auto;
}

.container-small{
    width: 65%;
    margin: 0 auto;
}

.flex-content{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    width: 100%;
}

.btn{
    display: inline-block;
    color: white;
    font-size: 12px;
    padding: 6px 16px;
    background-color: #0061ff;
    cursor: pointer;
}

.paragraph{
    font-size: 12px;
    font-weight: 500;
}

h2{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 30px;
}

h3{
    padding: 23px 0 10px 0 ;
    font-size: 20px;
    font-weight: 900;
}

.dot{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/* HEADER */
nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.container{
    justify-content: space-between;
    padding: 15px 15px;
}

.head-left .logo img{
    width: 105px;
    padding-right: 5px;
    padding-top: 3px;
}

.action ul li{
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px 0 20px;
}

/* Button */
.button-head{
    padding-left: 20px;
}

/* MAIN */
/* jumbotron */
.jumbotron{
    margin-top: 59px;
    background-color: #b4d0e7;
}
.container-big{
    padding: 70px 0;
    position: relative;
}

h1{
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 35px;
}

.jumbotron-content .paragraph{
    width: 30%;
    padding-bottom: 20px;
}

.button-jumbotron{
    padding-bottom: 8px;
}

.annulment{
    font-size: 10px;
}

.arrow{
    font-size: 35px;
}

/* img jumbotron */
.image-jumbotron{
    width: 620px;
    position: absolute;
    right: 0;
    top: 245px;
}

/* subsciption-plan */
.subsciption-plan{
    padding: 140px 0 35px 0;
}

.billing{
    padding-bottom: 30px;
}

.dot-blue{
    border: 4px solid #116cff;
}
.dot-grey{
    border: 1px solid lightgrey;
    margin-left: 10px;
}

.billing span.paragraph{
    vertical-align: middle;
}

/* table */
.main-table{
    justify-content: space-between;
}

.table{
    width: calc( (100% / 3) - 25px);
    border: 1px solid lightgrey;
    padding-bottom: 120px;
}
.table-title{
    font-size: 13px;
    font-weight: 600;
}

.table i{
    font-size: 11px;
    margin-right: 3px;
}

/* top table */
.table-top{
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

/* middle table */
.table-middle, .table-bottom{
    width: 80%;
    margin: 0 auto;
}

.table-text{
    font-size: 12px;
    font-weight: 500;
}

.price{
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 900;
}

.each-amount{
    font-size: 10px;
    color: rgb(120, 117, 117);
    padding-bottom: 40px;
}

.amount-users, .amount-gb, .detailes{
    padding-bottom: 15px;
}


.button-middle{
    margin: 20px 0 15px 0;
    padding: 6px 30px;
    font-size: 11px;
}

.other-choice span{
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.other-choice a{
    color: #3582fd;
}

/* table bottom */
.more-info-title {
    padding: 50px 0 20px 0;
    font-size: 13px;
    font-weight: 800;
}
ul.table-text li{
    padding-bottom: 20px;
}

ul.table-text i{
    color: #1e74ff;
    font-size: 15px;
    font-weight: 900;
}

/* Horizon table */
.horizon-table{
    border: 1px solid lightgrey;
}

.enterprise-table{
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.contact-title{
    font-size: 12px;
    font-weight: 800;
}

.enterprise-table .table-text{
    padding: 20px 0;
}

.button-enterprise{
    padding: 5px 60px;
    position: absolute;
    top: 23px;
    right: 0%;

}


